/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div.content {
  padding: 20px 0px;
  justify-content: center;
  display: flex;
}

div.content > * {
  width: 80%;
}

button.btn-success {
    background-color: lightgreen;
}

button.btn-cancel {
    background-color: firebrick;
}