:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  color: white;
  font-weight: 600;
}

.toolbar * {
  vertical-align: middle;
}

.toolbar a {
  padding: 0px 20px;
}
a,
a:visited,
a:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #333;
}
